<section id="home" >
    <div id="contents" class="container">
        <div class="row">
            <div class='col-xs-12'><h4>Welcome to the</h4></div> 
            <div class='col-xs-12'><h1>Lyrical Labyrinth</h1></div> 

            
                
                

            <div class='col-xs-12' ng-show="songBuilt" class ="songInfo" ng-style="{'font-family':'Muli', 'font-size':'16px', 'color':'#78213E'}"><strong> A song called: </strong>
            {{customTitle}}</div> 
        
            <div class='col-xs-12' class ="songInfo" ng-show="songBuilt" ng-style="{'font-family':'Muli', 'font-size':'16px', 'color':'#78213E'}"><strong>By: </strong>
            {{customArtist}}</div> 
            <hr>
            <div class='col-xs-12' ng-style="{'font-family':'Indie Flower', 'font-size':'24px', 'color':'#47014a'}">
            </div> 
            <br>
            <div class='col-xs-12' ng-style="{'font-family':'Indie Flower', 'font-size':'24px', 'color':'#47014a'}">
                {{customSong}}</div> 
            <hr ng-show="songBuilt">
        </div>
        
        
        <div class="row">
            <div class = "col-xs-6">
            <h4>I want to make a song with</h4>
                <form name="createSongForm" class="createSongForm"> 
        			<label>Enter an artist here:</label>
          			<input type="text" ng-model="artist" name="artist"/>
                    
                    <input class="button" type="submit" ng-click="submit(artist)" value="Submit" />
                    <div ng-show="artistNotFound" ng-style="{'color':'white'}">Artist not found in database.  Please try another!</div>
                    <div ng-show="artistFound" ng-style="{'color':'white'}">Artist added!</div>  
                </form>
            </div>
    	
    		<div class = "col-xs-6">
                <h4>and it will be about</h4>
                <form class="createSongForm">
                    <label>Enter a word here:</label>
          			<input type="text" ng-model="word" name="word" />
                    <input class="button" type="submit" ng-click="lookFor(word)" value="Save" />
                    <div ng-show="wordNotFound" ng-style="{'color':'white'}">That word was not found in the lyrics database.  Please try another!</div>
          	 </form>
            </div>
        </div>
            <div class= "row" id= "bottomButtons">
                <button ng-click="searchAgain()">Add another line</button>
                <button ng-click="singIt()">Sing it to me, baby!</button>   
            </div>
               
        </div>
    </div>
</section>
